<div id="flash-message">
  <%= render "flash" %>
</div>

<%= simple_form_for @contact, html: { id: "contact-me" }, url: home_index_path, remote: true do |f| %>

  <%= f.input :name, placeholder: "Name", required: true, label: false %>

  <%= f.input :email, placeholder: "Email", required: true, label: false %>

  <%= f.input :subject, placeholder: "Subject", required: true, label: false %>

  <%= f.input :message, as: :text, input_html: { rows: 6 }, placeholder: "Send a message to Justin.", required: true, label: false %>

  <div class= "hidden">
    <%= f.input :nickname, hint: "Leave this field blank!" %>
  </div>

  <%= f.submit "Send Message", class: "btn btn-primary" %>
<% end %>
