<div class="animsition">
  <!-- header -->
  <header class="main-header" id="header">
    <div class="bg-color">
      <!--nav-->
      <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                  <span class="fa fa-bars"></span>
                </button>
              <a href="/" class="navbar-brand">JVH</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!--/ nav-->
      <div class="container text-center">
        <div class="wrapper wow fadeInUp delay-05s">
          <h2 class="top-title">Quo vadis?</h2>
          <h1 class="title">Justin Velander Holt</h2>
          <h4 class="sub-title">Nomadic Full Stack Developer</h4>
        </div>
      </div>
    </div>
  </header>
  <!--/header -->

  <!-- quote -->
  <section id="quote">
    <div class="container">
      <div class="row">
        <div class="quote-info text-center">
          <h3><span class="dec-tec">“</span>Jobs fill your pocket, but adventures fill your soul.<span class="dec-tec">”</span><p>- Jamie Lyn Beatty</p></h3>
        </div>
      </div>
    </div>
  </section>
  <!-- /quote -->

  <!-- about -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInLeft delay-05s">
          <div class="section-title">
            <h2 class="head-title">About</h2>
            <hr class="botm-line">
            <%= image_tag("JVH_TGD.jpg", height: "100%", width: "100%", class: "img-responsive col-offset-xs-3") %>
            <p class="center">"Here About a Job."</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="col-md-12 wow fadeInRight delay-02s">
            <div class="icon">
  <!--             <i class="fa fa-paint-brush"></i> -->
            </div>
            <div class="icon-text">
              <h3 class="txt-tl">Quo Vadis, or Where <em>Are</em> We Going?</h3>
              <p class="txt-para">I'm a storyteller, globetrotter and junior full stack developer currently striving to enhance my coding skills while living and working on the road. I spent the past five years literally donating my body to science with the goal of paying off my debts and then saving up for a coding boot camp. With that accomplished, I'm now seeking new adventures not only in my travels but also in my work!</p>

              <h3 class="txt-tl">Skills</h3>
              <p class="txt-para">HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, Git, Github, Heroku and Ruby on Rails.</p>

              <div id="about-icon-container">
                <a href="/bio"
                   class="animsition-link"
                   data-animsition-out-class="fade-out-right"
                   data-animsition-out-duration="2000"
                >
                  <i class="fas fa-book"></i> The Plan
                </a>

  <!--          <a href="/bio" target="_blank">
                  <i class="fas fa-book"></i> The Plan
                </a>
   -->
                <a href="https://github.com/justinvholt" target="_blank"><i class="fab  fa-github"></i> Github</a>
                <a href="https://www.linkedin.com/in/velander/" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                <%= link_to ('<i class="far fa-file-pdf"></i> Resume (.pdf)').html_safe, asset_path("JVHResume_201902.pdf", skip_pipeline: true), target: :_blank %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

  <!-- quote -->
  <section id="quote">
    <div class="container">
      <div class="row">
        <div class="quote-info text-center">
          <h3><span class="dec-tec">“</span>There is a kind of magicness about going far way and then coming back all changed.<span class="dec-tec">”</span><br><p>- Kate Douglas Wiggin</p></h3>
        </div>
      </div>
    </div>
  </section>
  <!-- /quote -->

  <!-- portfolio -->
  <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <div class="section-title">
            <h2 class="head-title">Portfolio</h2>
            <hr class="botm-line">
            <p class="sec-para"></p>
          </div>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="col-sm-4 padding-right-zero">
            <div class="portfolio-box design">
              <%= link_to(image_tag("chronos.png", class: "img-responsive"), "http://www.chronos-laytime.com/", target: "_blank") %>
              <h3 class="txt-tl">Chronos</h3>
              <p class="txt-para">Fully automated laytime management system.</p>
            </div>
          </div>
          <div class="col-sm-4 padding-right-zero">
            <div class="portfolio-box design">
              <%= link_to(image_tag("dopcast.png", class: "img-responsive"), "http://www.dopcast.co/", target: "_blank") %>
              <h3 class="txt-tl">Dopcast</h3>
              <p class="txt-para">Comprehensive podcast search engine.</p>
            </div>
          </div>
          <div class="col-sm-4 padding-right-zero">
            <div class="portfolio-box design">
              <%= link_to(image_tag("splurtyAbroad.png", class: "img-responsive"), "https://splurty-justin-holt.herokuapp.com/", target: "_blank") %>
              <h3 class="txt-tl">SplurtyAbroad</h3>
              <p class="txt-para">Random travel quote generator.</p>
            </div>
          </div>
          <div class="col-sm-4 padding-right-zero">
            <div class="portfolio-box design">
              <%= link_to(image_tag("nomster.png", class: "img-responsive"), "https://nomster-justin-holt.herokuapp.com/", target: "_blank") %>
              <h3 class="txt-tl">Nomster</h3>
              <p class="txt-para">Favorite restaurants around the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /portfolio -->

  <!---->
  <section id="quote">
    <div class="container">
      <div class="row">
        <div class="quote-info text-center">
          <h3><span class="dec-tec">“</span>Travel far enough, you meet yourself.<span class="dec-tec">”</span><p>- David Mitchell</p></h3>
        </div>
      </div>
    </div>
  </section>
  <!---->

  <!-- contact -->
  <section id="contact" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
      <div class="row white">

        <div class="col-md-6 col-sm-12 style="padding-left:0px;">
          <div class="section-title">
            <h2 class="head-title black">Contact</h2>
              <hr class="botm-line">
              <p class="sec-para">My primary hub is <strong>Chicago, IL, USA</strong>, and I'm always open to networking in the Windy City. Additionally, I'm eagerly seeking web development opportunities that will allow me to live elsewhere and/or work from anywhere. Short-term, long-term or freelance — I'm open to all suggestions.</p>
              <p><i class="blue-icon fa fa-phone"></i> +1 312 five six eight 6632</p>
              <p><i class="blue-icon fa fa-envelope"></i> <a href="mailto:justin@onthecodeagain.com" class="link-email">justin@onthecodeagain.com</a></p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <h3 class="cont-title">Send a Message</h3>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <div class="contact-info">
             <%= render "contact_form" %>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /contact -->

  <!-- footer -->
  <footer class="" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 footer-developer">
          <div class="credits">
            Designed near Route 51 in Madison, WI, USA by JVH.
          </div>
        </div>
        <div class="col-sm-5 footer-social">
          <div class="pull-right hidden-xs hidden-sm">
            <a href="https://github.com/justinvholt" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/velander/" target="_blank"><i class="fab fa-linkedin-in"></i>
            <a href="https://www.instagram.com/lifeofvelander/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- / footer -->
</div>
