<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script><script>new WOW().init();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/css/animsition.min.css">

    <script>
      function fadeInPage() {
        if (!window.AnimationEvent) { return; }
        var fader = document.getElementById('fader');
        fader.classList.add('fade-out');
      }
      window.addEventListener('pageshow', function (event) {
        if (!event.persisted) {
          return;
        }
        var fader = document.getElementById('fader');
        fader.classList.remove('fade-in');
      });

    </script>
  </head>

  <body>
    <svg id="fader"></svg>
    <script>fadeInPage()</script>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

<!--     <script type="text/javascript">
      $("#bio-link").click(function () {
        $("#indexpg").fadeOut(1000,function () {
          $("body").load("/bio#bio", function () {
            $(".biopg").fadeIn(1000);
            $('html,body').animate({scrollTop: $(id).offset().top - 55}, 1500);
          })
        });

        return false;
      });
    </script> -->

  </body>
</html>
